html {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  * {
    color: #414141;
  }
  .header {
    background-color: rgb(226, 198, 15);
    position:sticky;
    top:0;
    left:0;
  }
  .header-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    padding: 5px 10px;
  }
  .menu li a{
    text-decoration:none ;
    transition: 0.3s;
  }
  .menu li a:hover{
    color:aqua;
  }
  .website-menu .menu {
    float: right;
  }
  
  .product-menu li {
    font-size: 18px;
    color: red;
  }
  
  .center {
    text-align: center;
  }
  
  .old-price {
    color: #666;
    text-decoration: line-through;
  }
  
  .grid-sixty-fourty {
    display: grid;
    grid-template-columns:60% 40%;
  }
  
  .grid-fourty-sixty {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .text-container {
    background-color: #f1f1f1;
    padding: 10px 10px 10px 25px;
  }
  
  .divider {
    border: 1px solid #cdcdcd;
    margin: 30px;
  }

  .scroll{
    background-color: yellowgreen;
    color: #ffffff;
    padding: 10px 10px;
}
.d-flex{
  margin-top: 17px;
  margin-left: 50px;
}
.title-name{
  margin-top: 15px;
  margin-right: 100px;
}
.footer{
  background-color: #212529;
  color: azure;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
 
}

.footer-link:hover {
  text-decoration: underline;
  color: #ff00b3;
}
.footer-menu{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  padding: 30px 20px;
  align-items: center;
}

.slider{
  width:auto;
  height:500px;
  border-radius: 10px;
  overflow: hidden;
 
}
.slides{
  width:500%;
  height: 500px;
  display: flex;

}

.slides input{
  display: none;
}
.slide{
  width:20%;
  transition: 2s;
}
.slide img{
  width:100%;
  height: 500px;
}
.navigation-manual{
  
  width: auto;
  margin-top: -40px;
  display: flex;
  justify-content: center;

}
.manual-btn{
  border: 2px solid #40D3dc;
  padding:5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
 
}
.manual-btn:not(:last-child){
  margin-right:40px;
}
.manual-btn:hover{
  background:#ff00b3;

}
#radio1:checked~ .first{
  margin-left:0;

}
#radio2:checked~ .first{
  margin-left:-20%;
  
}
#radio3:checked~ .first{
  margin-left:-40%;
  
}
#radio4:checked~ .first{
  margin-left:-60%;
  
}
#radio5:checked~ .first{
  margin-left:-80%;
  
}
