html {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  * {
    color: #414141;
  }
  .header {
    background-color: rgb(226, 198, 15);
    position:sticky;
    top:0;
    left:0;

  }
  .header-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    padding: 5px 10px;
  }
  .menu li a{
    text-decoration:none ;
    transition: 0.3s;
  }
  .menu li a:hover{
    color:aqua;
  }
  
  .website-menu .menu {
    float: right;
  }
  
  .product-menu li {
    font-size: 18px;
    color: red;
  }
  
  .center {
    text-align: center;
  }
  .input-row {
    display: grid;
    grid-template-columns: 60px 300px;
    grid-gap:10px;
  }
  .scroll{
    background-color: greenyellow;
    color:aliceblue;
    padding: 10px 10px;
    
  }
  button{
    background-color: yellow;
    cursor: pointer;
  }