html {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  * {
    color: #414141;
  }
  .header {
    background-color: rgb(40, 175, 162);
    position:sticky;
    top:0;
    left:0;
  }
  .header-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    padding: 5px 10px;
  }
  .menu li a{
    text-decoration:none ;
    transition: 0.3s;
  }
  .menu li a:hover{
    color:aqua;
  }
  
  .website-menu .menu {
    float: right;
  }
  
  .product-menu li {
    font-size: 18px;
    color: rgb(0, 51, 255);
  }
  
  .center {
    text-align: center;
  }
 
  .scroll{
    background-color: yellowgreen;
    color: #ffffff;
    padding: 10px 10px;
}

.cart-frame{
  display: flex;
  justify-content:flex-start;
}
.imgcart img{
  width: 250px;
}